.sidebar{
    background-image: linear-gradient(180deg, #18d2af, #0fcfe7  );
    min-width: 300px;
    min-height: 100%;
}

.sidebar > ul > li {
    margin: 20px 0 ;
}

.doctors-container > li{
    margin: 20px 0;
}

.svg-inline--fa{
    margin-right: 10px;
}

.sidebar > ul > li > .fa-sign-out-alt{
    position: absolute;

}

.logout{
    position: absolute;
    bottom: 50px;
}