.sidebar{
    background-image: linear-gradient(180deg, #18d2af, #0fcfe7  );
    max-width: 20rem;
}

.sidebar > ul > li {
    margin: 20px 0 ;
    padding-left: 1.2rem;
}

.doctors-container > li{
    margin: 20px 0;
    padding-left: 1.2rem;
}

.svg-inline--fa{
    margin-right: 10px;
}

.sidebar > ul > li > .fa-sign-out-alt{
    position: absolute;

}

.logout{
    position: absolute;
    bottom: 50px;
}