.info-card{
    padding: 0 5px;
}

.info-primary{
    background-color: #1CC7C1;
}

.info-dark{
    background-color: #3A4256;
}

.info-container{
    height: 100px;
}

.info-icon{
    font-size: 3em;
}