.header-container{
    position: relative;
    height: 920px;
    background-image: url(../../../images/chairBg.png) ;
    background-size: cover;
    background-position: left;
    z-index: -1;
    margin-bottom: 100px;
    /* in background image ---  linear-gradient(50deg,transparent 55%, #3a4256 45%), */
}

.header-container::after{
    content: " ";
    height: 920px;
    width: 25rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #3A4256; 
    z-index: -1;
}
