.make-appointment{
    background-image: url("../../../images/appointmentBg.png");
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 420px;
}

.make-appointment::before{
    content: " ";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color:  #242949;
    opacity: .8; 
}

.make-appointment .appointmentImg{
    height: 550px;
    transform: translateY(-130px);
}